div.form-wrapper{ 
    /* heig ht: 100px; */
    width: 60%;
    /* background-color: rgba(255, 255, 255, 0.233); */
    border-radius:3%;
    margin:auto;
    padding-top:30px;
}
form{
    background-color: rgba(255, 255, 255, 0.233);
    padding:20px 10px;
    border-radius: 5px;
    width:100%;
    display:flex;
    justify-content: space-around;
}

div.input-wrapper{
    display:inline-flex
}
label{
    margin-right: 30px
}
input{
    background: transparent;
    border:none;
    border-bottom: 1px solid white;
    color:white;
    outline:none;
    width: 100%;
    font-size:14px;
    padding-left:10px;
    margin: 8px 0;
    box-sizing: border-box;
}
button{
    outline:none;
    padding: 6px 16px;
    font-size: 12px;
    max-height: 32px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 500;
    color:white;
    background-color: transparent;
    line-height: 1.75;
    border:1px solid white;
    border-radius: 4px;
    align-self:center
}

@media only screen and (max-width: 450px) {
    div.form-wrapper{
        width:100%;

    }
    form{
       display: inline-block;
        text-align: center2;
        border-radius: 5px;
        width:80%;
        flex-direction: column
        
    }
    div.input-wrapper{
    }
    button{
        margin-top:30px;
        width:90%
    }
    div.input-wrapper{
        width: 80%;
    }
  }
  