div.current-weather-wrapper{
    height:250px;
    width: 90%;
    display:flex;
    justify-content: space-evenly;
    margin:0 auto;
    /* background-color: rgba(255, 255, 255, 0.233); */
}
h1.city-name{
    font-weight: 100;
    font-size: 70px;
    ;
}
div.center-box{
    align-self: center
}
div.temperature-description{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
p.temperature-text{
    font-size: 40px;
}
h2,h3,p.temperature-text {
    margin:0;
    font-weight: 200;
}
 h3{
    font-weight: 200;
    margin:0;
    font-size: 20px
}

div.top-margin-box{
    margin-top: 30px
}
@media only screen and (max-width: 450px) {
    h1.city-name{font-size: 40px}
    div.current-weather-wrapper{
        height:auto;
        display:grid;
        grid-template-columns: 1fr 1fr;

    }
    p.temperature-text{
        font-size: 20px;
    }
    div.sunrise-sunset, div.humidity-wind{
        margin-top:30px
    }
    h1.city-name{
        font-size: 47px
    }
    h2{font-size: 17px}
    
}

