
img.form-icon{
    margin-top:20px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.233);
    padding:10px;
    position: absolute;
    right: 300px;
    top: 15px;
}
div.form-weather-wrapper{
    margin-top:50px
}

@media only screen and (max-width: 500px) {
   img.form-icon{
       right:3%;
       top:10px;
       height: 15px;
   }

}
