

div.future-weather-box{

   width: 120px;
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.233);
    border-radius: 3%;
}
img.future-weather-icon{
    height:"45"
}

@media only screen and (max-width: 950px) {
    div.future-weather-box{
       width:90px;
       background-color: transparent;
       padding: 6px 15px;
    }
  }

  @media only screen and (max-width: 450px) {
    div.future-weather-box{
        width: 44px;
        padding: 6px;
        
    }
    div.future-weather-box>p {
        font-size:12px
      }
      img.future-weather-icon{
        height:"30"
    }
    p.future-weather-description{display: none}
    img.current-weather-icon{
        height:40px
    }
    
  }


