
div.app-container{
  text-align:center;
  padding-top:20px;
}
img.logo{
  position:absolute;
  left:40px;
  top:40px;
  height:50px;
}

label{align-self: center}
p.error{
  color:red;
  margin-top:20px
}
nav{
  margin-top:15px;
}
a{
  text-decoration: none;
  color:white;
  font-size: 20px;
  font-weight: 200;
  margin: 0 25px;
}

div.future-weather-wrapper{
  display: flex; 

  justify-content: space-around;
  width: 70%;
  margin: 50px auto 0 auto;
}
@media only screen and (max-width: 1330px) {
  div.future-weather-wrapper{
      display: flex; 
      justify-content: space-around;
      width: 90%;

  }
}

@media only screen and (max-width: 950px) {
  div.future-weather-wrapper{
    background-color: rgba(255, 255, 255, 0.233);
  }
}
@media only screen and (max-width: 950px) {
  div.future-weather-wrapper{
    width: 97%;

  }
  img.logo{
    width: 37px;
    height:37px;

  }
  
}
@media only screen and (max-width: 500px) {
  div.future-weather-wrapper{
    width: 100%;
    position:absolute;
    bottom: 0;

  }
  img.logo{
    left:20px;
    top:20px
  }
nav{
  margin-top: 0;
  margin-left: 35px
}
  a{
   font-size: 16px;
   margin: 0 10px
  }
  
}
