
body {
  width: 100vw;
  height:100vh;
  margin: 0;
  font-family:"Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4); 
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color:white;
  
}

h1{
  margin:0
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
